* {
  /*always put this */
  padding: 0; 
  box-sizing: border-box;
  margin:0 auto;


}


.App {
  /* text-align: center; */


}
/* background: linear-gradient(178.6deg, #ececec 11.8%,#dbdbeb 83.8%) no-repeat; */

.first-color { 
	background: #8ecccc; 
}
	
.second-color { 
	background: #50717b; 
}

.third-color { 
	background: #3a4042; 
}

.fourth-color { 
	background: #212121; 
}
.five-color{
  background:rgb(230, 218, 218);
}
.itemColor{
  background-image: linear-gradient( #c0d9e4, #518a98), radial-gradient(circle at top left, #769aff 8.23%,#ffdd40 25.83%,#f19994 51.91%,#47cf73 68.56%);

}

